@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    font-family: 'Kumbh Sans', sans-serif;
    
    
}
header{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 0.4px solid hsl(220, 14%, 75%);
    display: flex;
    justify-content: space-between;
}
    
.left-head{
    display: flex;
    align-items: center;
    gap: 100px;   
}  

.links{
    display: flex;
    gap: 40px;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: hsl(220, 14%, 75%);
    
}

a:hover{
    text-decoration: underline;
    color: black;
}

.right-head{
    display: flex;
    align-items: center;
    gap: 50px;
}

.material-symbols-outlined{
    color: hsl(220, 14%, 75%);
    cursor: pointer;
}

.material-symbols-outlined:hover{
    color: black;
    
}
.image-avatar{
    width: 50px;
    cursor: pointer;
}

.image-avatar:hover{
    width: 52px;
}

.page{
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
    padding-right:300px;
    padding-top: 100px;
}

.big-image img{
    width: 25vw;
    border-radius: 20px;
}

.small-image {
    display: flex;
    gap: 32px;
    padding-top: 30px;
}
.small-image img{
    width: 5vw;
    border-radius: 20px;
    cursor: pointer;
}

.small-image img:hover{
    opacity: 0.8;
}




.text h2{
    font-size: 15pt;
    color:hsl(26, 100%, 55%);
}

.text h1{
    font-size: 35pt;
    color: black;
}

.text p{
    color: hsl(220, 14%, 75%);
}

.price{
    display: flex;
    align-items: center;
    gap: 40px;
    
}    

.price i{
    border: 0.4px solid hsl(25, 100%, 94%);
    border-radius: 5px;
    padding: 4px;   
    background-color: hsl(25, 100%, 94%); 
    color: hsl(26, 100%, 55%);
}

.desconto{
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    position: absolute;
    top: 31vw;
}  

.cart{
    margin-top: 50px;
    display: inline-block;
    border: 1px solid hsl(223, 64%, 98%);
    background-color: hsl(223, 64%, 98%);
    border-radius: 4px;
    
}

.cart button{
    border: none;
    color: hsl(26, 100%, 55%);
    background-color: hsl(223, 64%, 98%);
    font-size: 20pt;    
    font-weight: 700;
    cursor: pointer;
}

.cart button:hover{
    opacity: 0.8;
}
 
/* Remove o spin button */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart input{
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: hsl(223, 64%, 98%);
    font-weight: 700;
}

.button-cart{
    /*position: absolute;
    top: 35.5vw;
    right: 28vw;
    width: 250px;
    height: 50px;*/
    padding: 20px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    
}

.add-cart{
    position: absolute;
    top: 35.5vw;
    right: 28vw;
    text-align: center;
    width: 250px;
    height: 50px;
    border: none;
    background-color: hsl(26, 100%, 55%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.add-cart:hover{
    opacity: 0.8;
}
#bag{
    color: aliceblue;
    padding: 0px;
}

.container{
    display: none;
    position: absolute;
    top: 6vw;
    left: 75vw;
    background-color: white;
}